<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="css/signup.css" rel="stylesheet">

    <title>Document</title>
</head>

<body class="container-fulid col-xl-4 col-lg-6 col-md-8  col-xs-10  offset-xl-4 offset-lg-3 offset-md-2 offset-xs-1">
    <header>
        <div class="row">
            <div class="logo col-8 offset-2">
                <p</p>
                <!-- <img src="logo"> -->
            </div>
        </div>
    </header>

    <main>
        <div class="row" id="formcontrol">
            <p class="form-label col-7 offset-3" v-if="page == 1">新規アカウント作成　登録</p>
            <p class="form-label col-7 offset-3" v-if="page == 2">新規アカウント作成　確認</p>
            <div class="flame  col-md-10 col-xs-10  offset-md-1 offset-xs-1">
                <hr>

                <form action="/signup" method="post">
                    <div>
                        <div class="name form-group mb-4" v-if="page < 4">
                            <span class="form-label col-4 ">Name</span>
                            <input class="col-8" type="text" v-model="name" name="uname" placeholder="name">
                            <p id="error">{{　nameErr　}}</p>
                        </div>

                        <div class="mail form-group mb-4" v-if="page < 4">
                            <span class="form-label col-4">Mail </span>
                            <input class="col-8 ml-3" type="text" v-model="mail" name="uemail" placeholder="aaaaa@aaa.com">
                            <p id="error">{{　mailErr　}}</p>
                        </div>

                        <div class="password1 form-group mb-4" v-if="page == 1">
                            <span class="form-label col-4 ">Pass1</span>
                            <input id="password1 pass" class="col-8" v-model="pass1" type="password">
                            <p id="error">{{　pass1Err　}}</p>
                        </div>

                        <div class="password2 form-group mb-4" v-if="page == 1">
                            <span class="form-label col-4">Pass2</span>
                            <input id="password2 pass" class="col-8" v-model="pass2" type="password">
                            <p id="error">{{　pass2Err　}}</p>
                        </div>

                        <div class="password2 form-group mb-4" v-if="page >=2">
                            <span class="form-label col-4 ml-1">Pass</span>
                            <input id="password3 pass" class="col-8 ml-2" name="upassword" v-model="pass3" type="password">
                            <p id="error">{{　pass3Err　}}</p>
                        </div>
                        <div class="gender row form-group mb-4 col-12" v-if="page < 4">

                            <span class="form-label ml-3">Gender</span>

                            <div class="form-check form-check-inline offset-1">
                                <input class="form-check-input" type="radio" name="ugender" id="inlineRadio1"
                                    value="0" v-model="gender" checked>
                                <label class="form-check-label form-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline offset-1">
                                <input class="form-check-input form-label" type="radio" name="ugender"
                                    id="inlineRadio2" value="1" v-model="gender">
                                <label class="form-check-label form-label" for="inlineRadio2">Female</label>
                            </div>
                            <p id="error">{{　genderErr　}}</p>
                        </div>

                        <div class="button-group mt-2">
                            <button type="button" class="btn login btn-primary btn-lg btn-block mb-4" @click="validate"
                                v-if="page == 1">確認へ</button>

                            <input  class="btn login btn-primary btn-lg btn-block mb-4" 
                                v-if="page == 2" type="submit"  value="完了"></input>

                            <input type="submit" id="goHome" class="btn login btn-primary btn-lg btn-block mb-4"
                                v-if="page == 3" value="topへ" ></input>

                            <button type="button" class="btn login btn-primary btn-lg btn-block mb-4" 　v-if="page > 1"
                                @click="page--">戻る</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
    
    <script src="js/formconteol.js"></script>
</body>

</html>